# LISTES

In [23]:
villes = ['Paris', 'Berlin', 'Rome', 'Madrid']
villes.append('Dublin')
print(villes)

['Paris', 'Berlin', 'Rome', 'Madrid', 'Dublin']

In [24]:
villes.insert(2, 'Bruxelles')
print(villes)

['Paris', 'Berlin', 'Bruxelles', 'Rome', 'Madrid', 'Dublin']

In [25]:
villes2 = ['Amsterdam', 'Londres']
villes.extend(villes2)
print(villes)

['Paris', 'Berlin', 'Bruxelles', 'Rome', 'Madrid', 'Dublin', 'Amsterdam', 'Londres']

In [26]:
len(villes)

8

In [27]:
villes.sort()
villes

['Amsterdam',
 'Berlin',
 'Bruxelles',
 'Dublin',
 'Londres',
 'Madrid',
 'Paris',
 'Rome']

In [28]:
villes.sort(reverse=True)
villes

['Rome',
 'Paris',
 'Madrid',
 'Londres',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [29]:
villes.count('Paris')

1

In [30]:
villes.append('Paris')
villes.count('Paris')

2

In [31]:
# villes.clear()

In [32]:
if 'Paris' in villes :
    print('Yes')

Yes

In [34]:
for i in villes :
    print(i)

Rome
Paris
Madrid
Londres
Dublin
Bruxelles
Berlin
Amsterdam
Paris

In [35]:
for i in enumerate(villes) :
    print(i)

(0, 'Rome')
(1, 'Paris')
(2, 'Madrid')
(3, 'Londres')
(4, 'Dublin')
(5, 'Bruxelles')
(6, 'Berlin')
(7, 'Amsterdam')
(8, 'Paris')

In [36]:
liste_2 = [1,2,3,4,5]

# La boucle s'arrete avec la liste la plus courte
for a, b in zip(villes, liste_2) :
    print(a,b)

Rome 1
Paris 2
Madrid 3
Londres 4
Dublin 5

# DICTIONNAIRES

In [45]:
dicoenfr = {
    "chien" : "dog",
    "oiseau" : "bird"
}
inventaire = {
    "poires" : 4300,
    "cerises" : 2400
}

En machine learning, certaines personnes utilisent des dictionnaires pour stocker les parametres de leurs reseaux de neurones

In [46]:
import numpy as np  

parametres = {
    "W1" : np.random.rand(10 , 100),
    "b1" : np.random.rand(10, 1),
    "W2" : np.random.rand(10, 10),
    "b2" : np.random.rand(10, 1)
}

In [47]:
inventaire.values()

dict_values([4300, 2400])

In [48]:
inventaire.keys()

dict_keys(['poires', 'cerises'])

In [49]:
len(inventaire)

2

In [50]:
inventaire["pommes"] = 690
print(inventaire)

{'poires': 4300, 'cerises': 2400, 'pommes': 690}

__Un dictionnaire n'est pas indexe__

In [52]:
# Au lieu de faire des try catch avec des keyerror
print(inventaire.get("peches"))

None

In [53]:
# Pour retourner une valeur par defaut, quand on ne trouve pas :
print(inventaire.get("peches", 0))

0

In [55]:
# Pour rechercher dans un dictionnaire a partir d'une liste de termes : 
inventaire.fromkeys(villes, 'Rien a voir, frerot')

{'Rome': 'Rien a voir, frerot',
 'Paris': 'Rien a voir, frerot',
 'Madrid': 'Rien a voir, frerot',
 'Londres': 'Rien a voir, frerot',
 'Dublin': 'Rien a voir, frerot',
 'Bruxelles': 'Rien a voir, frerot',
 'Berlin': 'Rien a voir, frerot',
 'Amsterdam': 'Rien a voir, frerot'}

In [57]:
nbcerise = inventaire.pop("cerises")
nbcerise

2400

In [58]:
# iterer sur les cles
for i in inventaire : # retourne les cles
    print(i)

# iterer sur les valeurs
for i in inventaire.values() : # retourne les valeurs
    print(i)

# iterer sur les deux
for kle,valeur in inventaire.items() :
    print(kle, valeur)

poires
pommes
4300
690
poires 4300
pommes 690

In [59]:
# Exercice Video 5 
# https://youtu.be/QR-gUWAeLqs

classeur = {
    "positif" : [],
    "negatif" : []
}

def trier(classeur, nombre) :
    if nombre >= 0 :
        classeur["positif"].append(nombre)
    else :
        classeur["negatif"].append(nombre)

trier(classeur=classeur, nombre=2)
trier(classeur=classeur, nombre=4)
trier(classeur=classeur, nombre= -1)
trier(classeur=classeur, nombre=0)
trier(classeur=classeur, nombre=-2)

print(classeur)

{'positif': [2, 4, 0], 'negatif': [-1, -2]}